- layout 'layout'
- title item.to_s

#content
  .crumbs
    %ul
      %li
        %a{:href => '/'}!= "&hearts;"
      - item.crumbs.each do |p|
        %li{:class => ('active' if @item == p)}
          %a{:href => p.path}= p

  %h1
    = item.to_s

  .body
    != item.body  if item.respond_to?(:body)
  .nav
    %ul
      - item.children.each do |p|
        - next unless p.try(:renderable?)
        %li
          %a{:href => p.path}= p
