-# content_for :title do
  %h1 Welcome!

- content_for(:nav) do
  %nav.back
  %nav.crumbs
    != link_to R(:admin) do
      -#!= admin_icon :dashboard
      = "Dashboard"

  - Aura::Editor.roots.each do |model, items|
    != partial model.templates_for('nav'), :items => items, :model => model

  %nav
    %h3 System
    %ul
      - Aura::Admin.menu.items.each do |item|
        %li.browse
          != link_to (item.href || '#') do
            != admin_icon (item.icon || 'generic')
            = item.name

- content_for :body do
  -# %a{:href => Aura::Models::Page.path(:list)} Manage pages
  - 10.times do
    %br
  %center{:style => 'font-size: 20px; color: #aaa;'}
    Welcome!
