-# content_for :title do
  %h1 Welcome!

- content_for(:nav) do
  %nav.back
  %nav.crumbs
    != link_to R(:admin) do
      = "Dashboard"

  - Aura::Editor.roots.each do |model, items|
    - next unless model.try(:show_on_sidebar?)
    != partial model.templates_for('nav'), :items => items, :model => model

  %nav
    %h3 System
    %ul
      - Aura::Admin.menu.items.each do |item|
        %li.browse
          != link_to (item.href || '#') do
            != admin_icon (item.icon || 'generic')
            = item.name

- content_for :body do
  %center{:style => 'font-size: 20px; color: #aaa; padding: 30px 0;'}
    Welcome!

  - if Aura.site_empty?
    .slim.fixed
      %section
        %h3 Let's get started!
        %p
          Dude, your site is empty. How about filling it up?
          Here's how:

        %ul
          %li
            %a{:href => R(:page, :new)} Create a new page
          %li
            %a{:href => R(:admin, :settings, :database)} Load sample data




  -# %a{:href => Aura::Models::Page.path(:list)} Manage pages
  - 10.times do
    %br
