!!! 5
%html(lang='en')
  - unless request.xhr?
    %head
      %meta(charset='UTF-8')
      %title!= title || "Aura"
      - admin_css '/css/reset.css', 1
      - admin_css '/css/admin_chrome.css', 4
      - admin_js '/js/jquery-1.4.2.min.js', 1
      - admin_js '/js/jquery.livequery.js', 2
      - admin_js '/js/jquery.hashlisten.js', 2
      - admin_js '/js/admin.layout.js', 4
      - admin_js '/js/admin.nav.js', 4
      - admin_css.each do |file|
        %link{:rel => 'stylesheet', :media => 'screen', :type => 'text/css', :href => file}

  %body{:class => body_class}

    - unless request.xhr?
      %script{:type => 'text/javascript'}
        :plain
          document.body.style.display = 'none';

      %header#top
        %h3
          %a{:href => R(:admin)}
            Aura
          %a.view.ext{:href => '/'}
            view site

        %nav#aux
          %h4
            Hello,
            %strong= current_user.email
          %ul
            %li
              %a{:href => R(:logout)} Logout

    %aside#nav
      .nav-c
        != yield_content :nav

    %nav#tabs
      - if has_content?(:tabs)
        != yield_content :tabs

    #area
      - if flash_messages? or flash_errors?
        #flash
          %div
            %ul
              - flash_messages.each do |msg|
                %li.success= msg
              - flash_errors.each do |msg|
                %li.error= msg

      - if has_content?(:title) or has_content?(:toolbar)
        %header#title
          - if has_content?(:title)
            .title-c
              != yield_content :title

          - if has_content?(:toolbar)
            %nav#toolbar
              %ul
                != yield_content :toolbar

      #content
        - if has_content?(:body)
          != yield_content :body
        != yield

    - unless request.xhr?
      - admin_js.each do |file|
        %script{:type => 'text/javascript', :src => file}
