- title "Settings"

- content_for :title do
  %h1 Aura Settings

Stuff go here
- 10.times do
  %br

- content_for :nav do
  %nav.back
    != link_to R(:admin) do
      != admin_icon :dashboard
      = "Dashboard"
  %nav.crumbs
    != link_to R(:admin, :settings) do
      != admin_icon :settings
      = "Settings"
  %nav
    %ul
      %li
        != link_to R(:admin, :settings, :site) do
          != admin_icon :generic
          = "Your site"
      %li
        != link_to R(:admin, :settings, :themes) do
          != admin_icon :generic
          = "Themes"
      %li
        != link_to R(:admin, :settings, :backup) do
          != admin_icon :generic
          = "Backup"


    -# != yield_content_of :'admin/dashboard', :nav
