- title "Settings"

- content_for :title do
  %h1 Aura Settings

Stuff go here
- 10.times do
  %br

- content_for :nav do
  %nav.back
    != link_to R(:admin), "Dashboard"
  %nav.crumbs
    != link_to R(:admin, :settings), "Settings"
  %nav
    %ul
      %li!= link_to R(:admin, :settings, :site),   "Your site"
      %li!= link_to R(:admin, :settings, :themes), "Themes"
      %li!= link_to R(:admin, :settings, :backup), "Backup"


    -# != yield_content_of :'admin/dashboard', :nav
