- title "Edit: %s" % [ item.to_s ]
- options = { :item => item }

- content_for :tabs do
  != yield_content_of :'base/edit', :tabs, options

- content_for :nav do
  != yield_content_of :'base/edit', :nav, options

- content_for :title do
  %h1
    Editing
    = item

- content_for :toolbar do
  != yield_content_of :'base/edit', :toolbar, options

- content_for :body do
  != partial item.templates_for('errors'), :errors => item.errors

  %form{:action => action, :method => 'post' }
    .split.s70.meta
      .left
        != partial item.templates_for(:form), options

        %p.submit
          %span.right
            %a{:href => item.path(:delete)} Delete this
            - if item.try(:renderable?)
              != "&nbsp; | &nbsp;"
              %a{:href => item.path, :target => 'preview'} View this

          %button{:type => 'submit'}
            %span Save

      .right
        != partial item.templates_for(:meta_form), options
