!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %title!= title ? "#{title} &mdash; Aura" : "Aura"
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/reset.css')
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/style.css')
  %body{:class => body_class}

    %header#top
      %h3
        %strong This is my site
        %small Yes it is, and it's very very nice

      %nav
        %ul
          - Aura::Editor.roots.each do |model, pages|
            - pages.each do |p|
              - next unless p.try(:renderable?)
              %li{:class => ('active' if @item.crumbs.include?(p))}
                %a{:href => p.path}= p

    #all
      != yield

    != admin_watermark
