- title "Edit: %s" % [ item.to_s ]

- content_for :tabs do
  %ul
    %li.active
      %a{:href => item.path(:edit)} Editor
    %li
      %a{:href => item.path(:preview)} Preview

- content_for :nav do
  - if item.children.any?
    %nav.back
      - if item.parent.nil?
        %a{:href => R(:admin)} Dashboard
      - else
        != link_to item.parent.path(:edit), item.parent.to_s
    %nav.crumbs
      != link_to item.path(:edit), item.to_s

    != partial item.templates_for('nav'), :items => item.children, :parent => item

  - else
    - if item.parent?
      -# Show the parent's menu
      != yield_content_of item.templates_for(:edit), :nav, { :item => item.parent }

    - else
      -# Show the main menu
      != yield_content_of 'admin/dashboard', :nav

- content_for :title do
  %h1
    Editing
    = item

- content_for :toolbar do
  - if item.try(:renderable?)
    %li
      %a.ext{:href => item.path} View
  %li
    %a{:href => item.path(:delete)} Delete
  - if item.try(:parentable?)
    %li
      %a{:href => item.path(:new)} Create new
  %li
    %a.black.js{:href => '#submit'} Save

- content_for :body do
  - if item.errors.any?
    .flash.validation-errors
      %h3 Can't continue:
      %ul
        - item.errors.each do |field, errs|
          - errs.each do |err|
            %li
              = field
              = err

  .slim-fixed
    %form{:action => action, :method => 'post' }
      != partial item.templates_for(:form), :item => item
      %p.submit
        %button{:type => 'submit'}
          %span Save
