- body_class 'form'
- title "Edit: %s" % [ item.title ]

- content_for(:nav) do
  %nav.back
    - if item.parent.nil?
      %a{:href => '/editor'} Back
    - else
      %a{:href => item.parent.path(:edit)}= item.parent

  %nav
    %h3 Pages
    %ul
      - item.nearest.each do |page|
        %li
          %a{href: page.path(:edit)}= page

- content_for(:title) do
  %h1
    Editing
    = item

- content_for(:toolbar) do
  %li
    %a{href: item.path} View
  %li
    %a{href: item.path(:delete)} Delete

- if item.errors.any?
  .flash.validation-errors
    %h3 Can't continue:
    %ul
      - item.errors.each do |field, errs|
        - errs.each do |err|
          %li
            = field
            = err

%form{:action => action, :method => 'post' }
  - item.class.editor_options.fields.each do |field|
    !~ field.to_html(item.send(field.name))
  %p.submit
    %button{:type => 'submit'}
      %span Save
