!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %title Document
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/reset.css')
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/admin_chrome.css')
  %body{:class => body_class}
    %header#top
      %h3
        Admin

      %nav#aux
        %h4
          Hello,
          %strong= current_user.email
        %ul
          %li
            %a{href: '/logout'} Logout

    - if flash_messages? or flash_errors?
      #flash
        %div
          %ul
            - flash_messages.each do |msg|
              %li.success= msg
            - flash_errors.each do |msg|
              %li.error= msg

    - if has_content?(:title)
      %header#title
        %div
          %h1
            != yield_content :title

    - if has_content?(:toolbar)
      %nav#toolbar
        %ul
          != yield_content :toolbar

    #content
      != yield
