- options = { :item => item, :action => action }

- content_for :title do
  - if current_user == @item
    %h1= "User settings"
  - else
    %h1= "User settings for #{@item}"

- content_for :tabs do
  != yield_content_of :'admin/settings', :tabs

- content_for :nav do
  != yield_content_of :'admin/settings', :nav

- content_for :toolbar do
  != yield_content_of :'base/edit', :toolbar, options

- content_for :body do
  .slim.fixed
    %form{:action => action, :method => 'post' }
      != partial item.templates_for(:form), :item => item

      %p.align-center
        You may also
        %a{:href => item.path(:delete)} delete your account
        if you need to.

      %p.align-center
        %br
        %button.black{:type => 'submit'}
          %span Save
